.RegisterContainer {
    height: 1000px;
    background-color: #ffffff;
}

.InnerRegisterContainer {
    display: flex;
    height: 100%;
}

.fixed-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.fixed-img {
    flex: 1;
}

.register-content {
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.Title {
    color: var(--Text, #000);
    text-align: center;
    font-family: Roboto;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 50px;
    margin-bottom: 20px;
}

.forgot-password a {
    margin-left: 200px;
    margin-top: -24px;
    text-decoration: underline;
}

.forgot-password a:hover {
    cursor: pointer;
    opacity: 0.8;
}

.register-input-field {
    border: 0;
    border-bottom: 1px solid #000;
    width: 300px;
    padding-top: 12px;
    font-size: 16px;
}

.register-input-field:focus {
    outline: none;
}

.register-input-field:focus::placeholder {
    color: transparent;
}

.register-button button {
    text-transform: uppercase;
    background-color: #fff;
    width: 312px;
   
}

.register-button button:hover {
    cursor: pointer;
    background-color: #897358;
    color: #fff;
    border: #897358;
}

.RegisterContainer .input-item {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 30px 0;
}

.RegisterContainer .input-item .input-label {
    /* position: absolute; */
    display: block;
    font-size: 20px;
    font-family: Roboto;
    font-weight: 300;

    /* left: 0;
  top: 50%;
  transform: translate(0, -50%);
  transition: all .5 linear; */
}

/* .Register-input-field:focus + .input-label {
  top: 0;
  transform: translate(0, -50%);
} */
