.Introduction {
  display: grid;
  grid-template-areas: "image content";
  grid-template-columns: 50% 50%;
  margin: 80px 16px 0;
}

.introduction-img {
    margin-bottom: 5px;
    color: #000;
    font-family: Roboto;
    text-align: left;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.introduction-content {
  padding-top: 40px;
  grid-area: "content";
  padding: 0 48px;
  color: #000;
  font-family: Roboto;
  font-size: 96px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.content-title {
  color: #000;
  text-align: left;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 5px;
}

.content-text {
  margin-top: 5px;
  color: #000;
  text-align: left;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.content-text > p {
  margin-bottom: 36px;
}

.content-app {
  text-align: right;
}

.content-app .intro-img{
  width: 100%;
}
