.swiper{
  z-index: 2;
}
.swiper-container {
  max-width: 100%;
  z-index: 1;
}

.swiper-container img {
  margin-top: 20px;
    max-width: 100%;
}
.word-container {
  position: absolute;
  top: 0;
  left: 0;
  margin-bottom: 50px;
  width: 100%; /* Đảm bảo word-container chiếm toàn bộ chiều rộng của swiper-container */
  height: 100%; /* Đảm bảo word-container chiếm toàn bộ chiều cao của swiper-container */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 2; /* Đảm bảo word-container hiển thị trên swiper-container */
}
.article {
  margin-bottom: 50px;
  color: #fff;
  font-family: Roboto;
  font-size: 150px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.word-container p {
  margin-bottom: 53px;
  color: #fff;
  font-family: Roboto;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.word-container button {
  color: #000;
  text-align: center;
  font-family: Roboto;
  font-size: 48px;
  font-weight: 700;
  line-height: normal;
  background-color: #F2D066;
  display: flex;
  width: 360px;
  height: 147px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.word-container button:hover {
  background-color: #f1c53f;
  cursor: pointer;
}
.word-container .custom-link-button{
  text-decoration: none;
}
