.select-type{
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-top: 0.5px solid var(--Thanh-k, #6C6C6C);
    margin-left: 80px;
}
.btn-type{
    border-radius: 30px;
    border: 1px solid #000;
    background: #fff;
    height: 30px;
    min-width: 90px;
    margin-left: 10px;
}
.btn-type:hover{
    cursor: pointer;
    transform: scale(1.10);
}
.btn-type.active{
    color: #fff;
    background: var(--Text, #000);
    
}
.btn-reset{
    padding-right: 120px;
    border: none;
    background-color: transparent;
    color: #7F6E59;
    text-decoration: underline;
    text-transform: uppercase;
}
.length-list{
    margin: 2px 5px 10px 100px;
    font-size: 20px;
    color: #333333e6;
}
.saled,
.stored,
.control-manage{
    display: flex;
    align-items: center;
}
.control-manage{
    padding-right: 40px;
    justify-content: center;
    gap: 7px;
    
}
.control-manage i{
    color: rgb(219, 188, 139);
}
.control-manage i:hover{
    transform: scale(1.05);
    color: rgb(225, 164, 66); ;
    cursor: pointer;
}
.saled p + p,
.stored p + p,
.control-manage p + p{
    margin-left: 15px;
}
.manager-products{
    padding-left: 80px;
}
.block-item{
    display: grid;
    grid-template-columns: 480px 150px 150px auto;
    gap: 90px;
    border: 1px dashed #8E8E8E;
    padding-left: 15px;
}
.filter-type{
    display: flex;
    flex-direction: row;

}
.title-page h1{
    color: var(--Text, #000);

text-align: center;
font-family: Roboto;
font-size: 64px;
font-style: normal;
font-weight: 300;
line-height: normal;
}
.wrapper{
    position: relative;
    font-family: Roboto;
    left: 10.2%;
}