.btn-continue-order,
.btn-print {
  color: var(--text, #fff);

  text-align: center;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 500px;
  height: 69.125px;
  background-color: #7f6e59;
}
.btn-continue-order:hover,
.btn-print:hover {
  cursor: pointer;
  background-color: #5c4e3e;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transform: scale(1.05);
}
.head-table h1,
.head-table h2 {
  text-transform: uppercase;
}

.wrapper-invoice {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 25px 25px 10px 15px;
  font-size: 22px;
  font-family: Roboto;
}

/* Phần tiêu đề trang */
.wrapper-invoice .title-page {
  color: var(--Text, #000);

  text-align: center;
  font-family: Roboto;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

/* Phần danh sách sản phẩm */
.wrapper-invoice .order-detail {
  margin: 0 40px 0 0;
  padding: 0 15px 0 0;
  border: none;
  border-radius: 5px;
}

.wrapper-invoice .itemList {
  display: flex;
  flex-direction: column;
}

.wrapper-invoice .header-table,
.wrapper-invoice .in-order {
  display: grid;
  grid-template-columns: 25% 25% 10% auto;
  gap: 100px;
  /* text-align: center; */
  border-bottom: 1px solid #8e8e8e;
}
.wrapper-invoice .price-item {
  display: block;
  text-align: center;
  /* gap: 10px; */
  /* display: flex; */
  /* align-items: center; */
  padding: 5px;
}

.wrapper-invoice .header-total,
.wrapper-invoice .total {
  text-align: center;
  display: block;
}

.wrapper-invoice .item {
  margin-top: 10px;
  display: grid;
  grid-template-columns: 25% 25% 25% auto;
  gap: 40px;
  text-align: center;
  border: none;
}

/* .wrapper-invoice .in-order {
  display: grid;
  grid-template-columns: 420px 150px 130px 240px;
  gap: 90px;
} */

.wrapper-invoice .quantity-item {
  padding: 0;
}

.wrapper-invoice .quantity-item input.q-order {
  border: none;
  font-size: 20px;
  text-align: end;
  width: 130px;
}

.wrapper-invoice .in-order-section .item-detail {
  display: flex;
  align-items: center;
}

.wrapper-invoice .item-detail img {
  background: cover no-repeat, #d9d9d9;
  width: 120px;
  height: 120px;
  margin: 5px;
}
.wrapper-invoice .invoice-total {
  margin-right: 54px;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 60px;
}
.wrapper-invoice .invoice-total p {
  text-transform: uppercase;
}
.wrapper-invoice .title-total {
  display: flex;
  flex-direction: column;
  column-gap: 20px;
  text-align: left;
}
.wrapper-invoice .detail-total {
  display: flex;
  flex-direction: column;
  column-gap: 20px;
  text-align: right;
}

/* .wrapper-invoice .total-price {
    gap: 120px;
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}


/* Phần địa chỉ giao hàng */
.wrapper-invoice .address-form,
.wrapper-invoice .choose-receiver {
  width: 520px;
  display: flex;
  flex-direction: column;
}

.wrapper-invoice .choose-receiver p,
.wrapper-invoice .choose-receiver label {
  font-size: 18px;
}

.wrapper-invoice .choose-receiver {
  border: none;
  border-radius: 20px;
  width: 93%;
  height: 197px;
}

.wrapper-invoice .inf-show {
  display: flex;
  justify-content: center;
}

.inf-show h2 {
  border-bottom: 1px solid#000;
  padding-bottom: 27px;
  display: flex;
  justify-content: center;
}

.address {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 22px;
}

.address-detail {
  border: none;
  padding-right: 180px;
}

/* Phần phương thức giao hàng */
.transportation {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.transport-title {
  margin-right: 30px;
}

.transport h2,
.footbill h2 {
  padding-bottom: 20px;
  border-bottom: 1px solid var(--Text, #000);
}

.select-radio {
  display: flex;
  flex-direction: column;
}

.option-gh {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 20px;
  height: 44px;
  background: var(--footer, #e7e3de);
}

.option-gh div {
  width: 250px;
}

#ghtk + label,
#ghn + label,
#payment + label {
  display: inline;
  margin-left: 2px;
}

.footbill {
  display: flex;
  justify-content: space-around;
  margin: 20px;
}

/* Nút đặt hàng */
.summary p {
  display: flex;
  justify-content: space-between;
}

.check-out-btn {
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 20px;
  justify-content: space-evenly;
  margin-top: 40px;
  margin-bottom: 40px;
}

.check-out-btn button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
