.warraper{
    /* 
    box-sizing: border-box;
    border-radius: 0.625rem;
    border: 1px solid #D0D0D0;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset; */
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    min-height: 700px;
    position: relative;
    /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) inset; */
    border-radius: 10px;
    overflow: hidden;
    border: 1px #D0D0D0 solid;
    font-weight: 500;
}
.warraper-title{
    width: 100%;
    height:20px;
    padding: 48px 481px 47px 480px;
    left: 0px;
    top: 0px;
    position: relative;
    justify-content: center;
    align-items: center;
    /* display: flex; */
}
.cart-title {
    width: 100%;
    height: 100%;
    text-align: center;
    color: black;
    font-size: 32px;
    font-family: Roboto;
    font-weight: 400;
    word-wrap: break-word;
}
.detail-cart{
    position: absolute;
    top: 120px;
    left: 120px;
    right: 120px;
    display: inline-flex; 
}
.list-items{
    margin: 0 20px;
    width: 700px;
    height: fit-content;
}
.item{
  height: 150px;
}
.img-item img{
    background: cover no-repeat, #D9D9D9;
    width: 60px;
    height: 60px;
}
.des-item{
    width: 290px;
    text-align: justify;
    padding-top: 28px;
}
.quantity-item{
    width: 100px;
    padding: 20px 3px 53px 3px;
}
.quantity-item input{
    width: 79px;
}
.price-item{
   display: flex;
   justify-content: space-between;
   margin-top: 91px;
}
.type-product, 
.characteristic{
    display: flex;
    justify-content: space-between;
}
.label{
    margin-right: 20px;
    }
.pref-item{
    right: 5px;
    margin-left: 20px;
    }
.container-review{
    display: block;
    border: #000 solid 0.5px;
    background: #F0EDE8;
    margin: 0 10px;
    padding: 20px;
    flex-shrink: 0;
}
.review{
    flex-shrink: 0;
}
.title-review{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
}
.line{
    background-color: #000;
    margin: 20px 0;
    width: 375px;
    height: 2px;
}
.sum-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: uppercase;
}
.lable-summary{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
}
.summary{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
}
.check-out{
    display: block;
}
.btn-submit{
    display: block;
    color: #FFFFFF;
    background-color: #000;
    padding: 12px 30px;
    margin-left: 40px;
    margin-bottom: 1rem;
    width: 260px;
    height: 44px;
    flex-shrink: 0;

}
.btn-continue{
    display: block;
    padding: 12px 30px;
    margin-left: 40px;
    margin-bottom: 1rem;
    width: 260px;
    height: 44px;
    flex-shrink: 0;
}
