/* Phần css cho toàn thân trang */
.cart-form-warraper {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}
.warraper {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  min-height: 700px;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  border: 1px #d0d0d0 solid;
  font-weight: 500;
}
.warraper-title {
  color: var(--Text, #000);
  text-align: center;
  font-family: Roboto;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.cart-title {
  width: 100%;
  height: 100%;
  text-align: center;
  color: black;
  font-size: 64px;
  font-family: Roboto;
  font-weight: 400;
  word-wrap: break-word;
}
.detail-cart {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 47px;
}
.item-cart {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-top: 0.5px solid var(--Thanh-k, #6c6c6c);
  border-bottom: 0.5px solid var(--Thanh-k, #6c6c6c);
}
.list-items {
  margin: 0 20px;
  padding: 3px;
  width: 700px;
  height: fit-content;
}

.img-item img {
  background: cover no-repeat, #d9d9d9;
  width: 60px;
  height: 60px;
}
.des-item {
  padding-top: 28px;
  margin-bottom: 7px;
  width: 290px;
  font-weight: 500;
  text-align: justify;
}
.quantity-item {
  display: flex;
  width: 100px;
  padding: 20px 3px 53px 3px;
}
.quantity-item input {
  text-align: center;
  /* width: 30px; */
  /* padding-inline: 15px 1px; */
}
.price-item {
  gap: 10px;
  display: flex;

  align-items: center;
  padding: 5px;
}
.type-product,
.quantity-product,
.characteristic {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}
.label {
  margin-right: 20px;
  font-weight: 300;
}
.pref-item {
  right: 5px;
  margin-left: 20px;
}
.remove-item {
  text-align: right;
  padding: 5px;
  cursor: pointer;
}
.container-review {
  display: flex;
  flex-direction: column;
  border: #000 solid 0.5px;
  background: #f0ede8;
  margin: 0 10px;
  padding: 20px;
  flex-shrink: 0;
}
.review {
  flex-shrink: 0;
}
.title-review {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
}
.line {
  background-color: #000;
  margin: 20px 0;
  width: 375px;
  height: 2px;
}
.sum-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: uppercase;
}
.lable-summary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
}
.summary {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.check-out {
  display: flex;
  flex-direction: column;
}
.btn-submit {
  display: inline-block;
  background-color: #000;
  color: #fff;
  margin-bottom: 1rem;
  width: 260px;
  height: 44px;
  flex-shrink: 0;
  text-decoration: none;
  cursor: pointer;
  color: #d0d0d0;
}

.btn-submit:hover {
  opacity: 0.8;
}
.check-out a {
  width: 260px;
  height: 43px;
  text-decoration: none;

  background-color: #000;
  margin-bottom: 1rem;
}
.btn-continue {
  display: block;
  padding: 12px 30px;

  margin-bottom: 1rem;
  width: 260px;
  height: 44px;
  flex-shrink: 0;
}
