.OrderManage {
  margin: 20px 30px 20px 70px;
  position: relative;
  left: 10.2%;
}
.order-manage-title {
  color: var(--Text, #000);

  text-align: center;
  font-family: Roboto;
  font-size: 64px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.select-status {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-left: 50px;
}
.select-status h5 {
  color: var(--Sort, #7f6e59);
  text-align: center;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-right: 20px;
}
.filter-status {
  display: grid;
  grid-template-columns: 150px 150px 150px 250px;
  gap: 15px;
  height: 50px;
  text-align: center;
  margin-top: 20px;
}
.filter-status button {
  align-content: center;
  border-radius: 30px;
  border: 1px solid var(--Text, #000);
  background: var(--text, #fff);
  color: var(--Text, #000);

  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.filter-status button:hover{
    border: none;
    box-shadow: 0 0 5px rgb(218, 216, 216);
    color: rgb(255, 255, 255);
    font-weight: 500;
    background-color: #000;
    cursor: pointer;
    

}
.btn-reset {
  margin-left: 120px;
  background-color: #fff;
  color: var(--Sort, #7f6e59);
  text-align: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-right: 20px;
  border: none;
}

.btn-reset:hover{
    transform: scale(1.15);
    cursor: pointer;
}

/* Bảng */
.table-order {
  width: 91%;
  border-collapse: collapse;
  line-height: 3.5;
}

/* Tiêu đề cột */
.table-order th {
  background-color: #ffffff;
  border-bottom: 1px solid #dddddd;
  padding: 8px;
  text-align: left;
}

/* Dòng dữ liệu */
.table-order td {
  border-bottom: 1px solid #dddddd;
  padding: 8px;
  text-align: left;
}

/* Đổi màu nền cho từng dòng lẻ */
.table-order tbody tr:nth-child(odd) {
  background-color: #ffffff;
}

.confirmed {
  color: #00c04d;
}

.delivery {
  color: #ff8d00;
}

.received {
  color: #3200fc;
}

.default {
  color: #ff0000;
}
.orderlist{
  padding: 0 50px;
}