.article-component{
    display: grid;
}
.container-content{
    color: #000;
    font-family: Roboto;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 200px;
    margin-left: 16px;
    margin-bottom: 112px;
}
.container-img {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Tạo 4 cột với độ rộng bằng nhau */
    gap: 20px; /* Khoảng cách giữa các hình ảnh */
  }
  
  .container-img a {
    width: 100%;
  }
  
  .container-img img {
    width: 100%;
    height: auto;
  }